*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.2s ease-in-out;
  word-wrap: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding: 0 2rem;
}

img {
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
}
@media (min-width: 740px) {
  .header {
    position: sticky;
    top: -500px;
    z-index: 90;
  }
}
.header .header-image {
  position: relative;
  height: 250px;
  overflow: hidden;
}
@media (min-width: 500px) {
  .header .header-image {
    height: 500px;
  }
}
.header .header-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header-image .logo {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 50px;
}
.header .header-image .logo a {
  display: block;
}
.header nav {
  background-color: #5DA9AD;
}
.header nav ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
@media (min-width: 740px) {
  .header nav ul {
    place-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.header nav ul li {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  color: white;
}
.header nav ul li:hover {
  background-color: #519ca0;
}
.header nav ul li a {
  font-size: 1.2rem;
  color: white;
  display: block;
  padding: 1.2rem;
}
.header nav .dropdown {
  z-index: 10;
  position: relative;
  font-size: 1.2rem;
  cursor: default;
}
.header nav .dropdown-item {
  padding: 1.2rem;
  font-size: 1.2rem;
}
.header nav .dropdown-content {
  display: block;
  position: relative;
  cursor: pointer;
  background-color: #488b8f;
  width: 100%;
}
@media (min-width: 740px) {
  .header nav .dropdown-content {
    position: absolute;
    display: none;
    background-color: #5DA9AD;
    padding-left: 0;
  }
}
.header nav .dropdown-content li {
  padding-left: 20px;
  width: 100%;
}
.header nav .dropdown:hover .dropdown-content {
  display: block;
}

.block {
  position: relative;
  margin: 0 auto 120px;
}
.block:first-child {
  margin-top: 40px;
}
.block h1, .block h2 {
  color: #5DA9AD;
  font-weight: 500;
}
.block h1 {
  grid-column: 1/-1;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  padding: 1rem;
  position: relative;
}
@media (min-width: 500px) {
  .block h1 {
    font-size: 3rem;
  }
}
.block h1::after {
  position: absolute;
  content: "";
  background-color: #5DA9AD;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.block h2 {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}
@media (min-width: 500px) {
  .block h2 {
    font-size: 2rem;
  }
}
.block h2.center {
  text-align: center;
}
.block p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.block ul {
  list-style: disc;
}
.block li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.block button {
  padding: 1rem;
  display: block;
  margin: 2rem 0;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #5DA9AD;
  font-size: 1rem;
  color: white;
  width: 240px;
}
.block button:hover {
  background-color: #407b7e;
}
.block article {
  margin: 2rem 0;
}
.block .center {
  text-align: center;
}
.block .main-image {
  margin-top: 2rem;
  display: flex;
  max-width: 700px;
  margin: 2rem auto 0 auto;
}
.block .num-list {
  box-shadow: 0 0 0 2px #5DA9AD;
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 1rem;
  grid-column: span 1;
  padding: 1rem;
  border-radius: 16px;
}
@media (min-width: 500px) {
  .block .num-list {
    grid-column: span 2;
  }
}
.block .num-list p {
  margin: 0;
  max-width: 300px;
  text-align: center;
}
.block .num-list span {
  width: 50px;
}
.block .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.block .grid h1 {
  grid-column: 1/-1;
}
@media (min-width: 500px) {
  .block .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .block .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.block .grid .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.block .grid .card a {
  display: block;
  position: relative;
}
.block .grid .card a .play-icon {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
}
.block .grid .card h3 {
  text-align: center;
  font-size: 1.5rem;
}
.block .grid .card p {
  text-align: center;
}
.block button.center {
  margin: 0 auto;
}
.block h1, .block h2, .block h3, .block h4, .block h5, .block p, .block article {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.block .block-with-image {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .block .block-with-image {
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
  }
}
.block .block-with-image .img-wrapper {
  position: relative;
  max-width: 600px;
}
.block .block-with-image .img-wrapper a:hover {
  transform: scale(1.05);
}
.block .block-with-image .img-wrapper a:hover .play-icon {
  color: red;
}
.block .block-with-image .img-wrapper .play-icon {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  cursor: pointer;
  pointer-events: none;
}
.block .block-with-image p {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .block .block-with-image p {
    width: 80%;
  }
}

.block.reverse {
  background-color: #488b8f;
  color: white;
  padding: 2rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 120px;
  border-radius: 24px;
}
.block.reverse h1 {
  color: white;
  width: 70%;
  margin: 0 auto 1rem;
}
.block.reverse h1::after {
  background-color: white;
}
@media (min-width: 700px) {
  .block.reverse p {
    max-width: 700px;
  }
}
.block.reverse button {
  background-color: white;
  color: #5DA9AD;
  margin: 0 auto;
}
.block.reverse button:hover {
  background-color: #4c8a8d;
  color: white;
  box-shadow: 0 0 0 2px white;
}

.split {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  max-width: 1000px;
  margin: 0 auto 120px;
}
.split h1 {
  grid-column: 1/-1;
}
@media (min-width: 500px) {
  .split {
    grid-template-columns: repeat(2, 1fr);
  }
}
.split article ul li::marker {
  color: #28494b;
}
.split article p {
  min-height: 110px;
}

.news {
  max-width: 1000px;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1;
  align-items: center;
}
@media (min-width: 740px) {
  .news {
    grid-template-columns: repeat(2, 1fr);
  }
}
.news article h1 {
  font-size: 2rem;
}
.news article h1::after {
  content: none;
}
.news p {
  margin-top: 2rem;
  grid-column: 1/-1;
}
.news a {
  text-decoration: underline;
}

.footer {
  padding: 1.2rem;
  width: 100%;
  background-color: #5DA9AD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer p {
  font-weight: 500;
  font-size: 1rem;
  color: white;
}/*# sourceMappingURL=index.css.map */